html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(93, 53, 135);
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: #FAEF9B;
    transition: box-shadow 0.3s ease;
}
.button:active{
    background-color: rgb(144, 238, 144);
}

.button:hover {
    animation: glow 1s infinite alternate;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
